################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Tahuan.BookStore/.vs/Tahuan.BookStore
/Tahuan.BookStore/Tahuan.BookStore/bin/Debug/netcoreapp3.1
/Tahuan.BookStore/Tahuan.BookStore/obj
/Tahuan.BookStore/Tahuan.BookStore/wwwroot/lib
