@{

    //var dt = DateTime.Now;
    var bookInfo = ViewData["book"] as BookModel;
    ViewData["Title"] = "Home";
}

<section class="jumbotron text-center">
    <div class="container">
        <h1>Welcome to Book Store @ViewBag.Title</h1>
        <p class="lead text-muted">
            this is my bookstore. Hope you like it. 
        </p>
        @*<h1> Id : @bookInfo.Id  Name: @bookInfo.Author</h1>*@
        <p>
            <a href="#" class="btn btn-primary my-2">Search books</a>
        </p>
    </div>
</section>

<div class="py-5 bg-light">
    <div class="container">
        <h3 class="h3">Top books</h3>

        @*@await Component.InvokeAsync("TopBooks")*@ 
        <vc:top-books count="3"></vc:top-books>

        
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            //alert("load completed")
        });
    </script>
}

